{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Ecommerce</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarScroll">
                            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                                {% for category in categories %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="{{ category.get_absolute_url }}" style="color: #ffffff;" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{category.name}}
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                            {% for sub_category in category.sub_categories.all %}
                                                {{sub_category.brands.0}}
                                                <li class="nav-item dropdown">
                                                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarScrollingDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{sub_category.name}}</a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown2">
                                                        {% for brand in sub_category.brands.all %}
                                                            <li class="nav-item dropdown">
                                                                <a class="dropdown-item " href="{{brand.get_absolute_url}}" id="navbarScrollingDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{brand.name}}</a>
                                                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown3">
                                                                    {% for product in brand.products.all %}
                                                                        <li class="nav-item dropdown">
                                                                            <a class="dropdown-item dropdown-toggle" href="#">{{product.product_name}}</a>
                                                                            <hr>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                                <hr>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <hr>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {%for slider in sliders%}
                        <div class="carousel-item {% if forloop.first %} active {% endif %}">
                            <img class="d-block w-100" src="{{slider.image.url}}" alt="{{slider.id}} slider">
                        </div>
                    {%endfor%}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>

            <div class="row">
                {% for x in products%}
                    <div class="col-md-4">
                        <div class="add_to_wishlist card" style="width: 18rem;" data-id="{{x.id}}">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">{{x.product_name}}</h5>
                                <p class="card-text">{{x.product_descrption}}</p>
                                <a href="#" class="btn btn-primary">Wishlist</a>
                            </div>
                        </div>
                        <div class="add_to_cart card" style="width: 18rem;" data-id="{{x.id}}">
                            <a href="#" class="btn btn-primary">Add Cart</a>
                        </div>
                        <div class="delete card" style="width: 18rem;" data-id="{{x.id}}">
                            <a href="#" class="btn btn-primary">Delete Wishlist</a>
                        </div>
                        <div class="card" style="width: 18rem;" >
                            <a href="{{ x.get_absolute_url }}" class="add_to_history btn btn-primary" data-id="{{x.id}}">See Product Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {{request.session.wishlist}}
            {{request.session.product_history}}
            {{request.session.cart}}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

        <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        </script>

        <script>
        $(document).ready(function(){
            $('.add_to_wishlist').on('click', function(e){
                e.preventDefault()
                id = $(this).attr('data-id')
                data = {
                    id:id
                }
                $.ajax({
                    headers: {"X-CSRFToken":getCookie("csrftoken")},
                    type: "POST",
                    url: 'add_to_wishlist/' + id + '/',
                    data:data,
                    success: function(data){
                        location.href = '{% url "index" %}';
                    }
                })
            })
        })
        </script>

        <script>
        $(document).ready(function(){
            $('.add_to_cart').on('click', function(e){
                e.preventDefault()
                id = $(this).attr('data-id')
                data = {
                    id:id
                }
                $.ajax({
                    headers: {"X-CSRFToken":getCookie("csrftoken")},
                    type: "POST",
                    url: 'add_to_cart/' + id + '/',
                    data:data,
                    success: function(data){
                        location.href = '{% url "index" %}';
                    }
                })
            })
        })
        </script>

        <script>
        $(document).ready(function(){
            $('.delete').on('click', function(e){
                e.preventDefault()
                id = $(this).attr('data-id')
                data = {
                    id:id
                }
                $.ajax({
                    headers: {"X-CSRFToken":getCookie("csrftoken")},
                    type: "POST",
                    url: '{% url 'remove_wishlist' %}',
                    data:data,
                    success: function(data){
                        location.href = '{% url "index" %}';
                    }
                })
            })
        })
        </script>
        
        <script>
        $(document).ready(function(){
            $('.add_to_history').on('click', function(e){
                e.preventDefault()
                var thiselement = $(this)
                id = thiselement.attr('data-id')
                data = {
                    id:id
                }
                $.ajax({
                    headers: {"X-CSRFToken":getCookie("csrftoken")},
                    type: "POST",
                    url: 'add_to_history/' + id + '/',
                    data:data,
                    success: function(data){
                        window.open(thiselement.attr("href"),"_self")
                    }
                })
            })
        })
        </script>
    </body>
</html>